@{
    ViewBag.Title = "Home Page";
}

<style>
    .alert {
        padding: 20px;
<<<<<<< Updated upstream
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
=======
        background-color: #ff9800;
        color: white;
>>>>>>> Stashed changes
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

<<<<<<< Updated upstream
    .alert.warning {
        background-color: #ff9800;
    }
</style>

<script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>

<div class="jumbotron">
    <h1>Portal Doctor Patient</h1>
    <p class="lead"> The main purpose of this website is to help patients book a doctor's appointment with a few easy steps on the internet.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Creating your account </h2>
        <p>
            On this website you can create your own account as a patient, using data such as height, weight, age etc.
        </p>
    </div>
    <div class="col-md-4">
        <h2> Find your doctor </h2>
        <p>
            You can find a doctor, see their reviews and their specialisation.
        </p>
    </div>
    <div class="col-md-4">
        <h2> Come back later </h2>
        <p>
            Your medical history will also be saved.
        </p>
    </div>
</div>

<div class="alert warning">
    <span class="closebtn">&times;</span>
    <strong>Warning!</strong> Because of the current COVID situation, it is mandatory for clients to wear a mask and respect socially distancing rules.
    If you had contact with the virus contact special services.
</div>

<div>
    <p>
        The time is @DateTime.Now
    </p>
</div>
=======
        .closebtn:hover {
            color: black;
        }

    .paragraf {
        border: 2px solid powderblue;
        padding: 30px;
    }

    body {
        background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-36_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e77ca41f1c0b52331b41ac8cdfed783a');
    }
</style>
<body>
    <marquee> Project members: Coaje Petrut, Paraschiv Alexandru, Popescu Maria, Staicu Bogdan. </marquee>

    <div class="jumbotron">
        <h1>Portal Doctor Patient</h1>
        <p class="lead"> The main purpose of this website is to help patients book a doctor's appointment with a few easy steps on the internet.</p>
    </div>

    <div class="row">
        <div class="paragraf">
            <h2> Creating your account </h2>
            <p>
                On this website you can create your own account as a patient, using data such as height, weight, age etc.
            </p>
        </div>
        <div class="paragraf">
            <h2> Find your doctor </h2>
            <p>
                You can find a doctor, see their reviews and their specialisation.
            </p>
        </div>
        <div class="paragraf">
            <h2> Come back later </h2>
            <p>
                Your medical history will also be saved.
            </p>
        </div>
    </div>

    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Warning!</strong> Because of the current COVID situation, it is mandatory for clients to wear a mask and respect socially distancing rules.
        If you had contact with the virus contact special services.
    </div>

    <div>
        <p>
            The time is @DateTime.Now
        </p>
    </div>
</body>
>>>>>>> Stashed changes
