@{
    ViewBag.Title = "Home Page";
}

<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .alert.warning {
        background-color: #ff9800;
    }

    .closebtn:hover {
        color: black;
    }

    .paragraf {
        border: 2px solid powderblue;
        padding: 30px;
    }

    body {
        background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-36_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e77ca41f1c0b52331b41ac8cdfed783a');
    }
</style>
        
<body>
    <head>
        <script language="javascript" type="text/javascript">alert("Bun venit in Portal Doctor Pacient")</script>
    </head><font face="TimesNewRoman"><span style="font-size: 10pt; text-decoration: none"></span></a></font>

    <marquee> Membrii proiect: Coaje Petrut, Paraschiv Alexandru, Popescu Maria, Staicu Bogdan. </marquee>

    <div class="jumbotron">
        <h1>Portal Doctor Pacient</h1>
        <p class="lead">
            Scopul principal al acestui site web este de a ajuta viitori pacienti sa isi rezerve o intalnire cu un medic in cativa pasi simpli pe internet.
        </p>
    </div>

    <div class="row">
        <div class="paragraf">
            <h2> Crearea unui cont </h2>
            <p>
                Pe acest site web va puteti crea propriul cont ca pacient, inregistrand date precum inaltimea, greutatea, varsta etc.
            </p>
        </div>
        <div class="paragraf">
            <h2> Gasiti-va doctorul dorit </h2>
            <p>
                Puteti vedea medicii disponibili, puteti vedea specializarea lor si recenziile primite pentru interventii trecute.
            </p>
        </div>
        <div class="paragraf">
            <h2> Intoarceti-va mai tarziu </h2>
            <p>
                Istoricul si datele voastre medicale vor ramane salvate pentru viitor.
            </p>
        </div>
    </div>

    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong> ATENTIE! </strong> Datorită situației actuale COVID-19, este obligatoriu pentru clienți să poarte mască de proteție și să respecte regulile de distanțare socială.
        Dacă ați avut contact cu virusul, contactați serviciile speciale.
    </div>

    <div>
        <p>
            Data actuala este @DateTime.Now
        </p>
    </div>
</body>