<style>
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-36_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e77ca41f1c0b52331b41ac8cdfed783a");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
</style>

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<h2>@ViewBag.Title</h2>
<br />

@foreach (var specialization in ViewBag.Specializations)
{
    @Html.Label("SpecializationName", "Denumire specializare")
    <p>@specialization.SpecializationName</p>
    <a class="btn btn-success" href="/Specializations/Show/@specialization.SpecializationId">Afisare specializare</a>
    <a class="btn btn-success" href="/Specializations/Edit/@specialization.SpecializationId">Editare specializare</a>
    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-primary" href="/Specializations/New">Adauga specializare</a>
<br />
