@model PortalDocPat.Models.Specialization
@{
    ViewBag.Title = "Afisare specializare";
}

<style>
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-36_1.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e77ca41f1c0b52331b41ac8cdfed783a");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
</style>

<h2>@ViewBag.Title</h2>

<p>@Model.SpecializationName</p>

<p>
    Pret standard:&ensp; @Model.Price
</p>

<form method="post" action="/Specializations/Delete/@Model.SpecializationId">

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-success" type="submit">Sterge specializarea</button>

</form>
<br />
<a class="btn btn-success" href="/Specializations/Index/">Afisare lista specializari</a>

