
<h2>Adaugare Consultatie</h2>

<form method="post" action="/Consultations/New">
    <input type="hidden" name="PatiendId" value="@ViewBag.PatientId" />
    <input type="hidden" name="DoctorId" value="@ViewBag.DoctorId" />
    


    <button class="btn btn-success" type="submit">Adauga consultatie</button>

</form>